@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
body
{
    margin: 0;
    padding: 0;
    height: 100vh;

}

#particles-js{
height: 100%;
background: rgb(221,221,221);
background: linear-gradient(90deg, rgba(221,221,221,1) 2%, rgba(18,18,18,1) 32%, rgba(0,0,0,1) 81%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: url("images/bg.png") center/cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    background-color: #12005289;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 10px;
}

.navbar {
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .hamburger-btn {
    display: none;
    color: #fff;
    cursor: pointer;
    font-size: 32px;
}

.navbar .logo {
    text-decoration: none;
}

.navbar .logo h2 {
    color: #000000;
    font-weight: 700;
    font-size: 36px;
}
.navbar .logo h2 span{
    color: #fffdfd;
}

.navbar .links {
    display: flex;
    gap: 35px;
    list-style: none;
    align-items: center;
}

.navbar .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    color: #000;
    cursor: pointer;
}

.navbar .links a {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s;
}

.navbar .links a:hover {
    color: #ff6a00;
}

.navbar .login-btn {
    border: none;
    outline: none;
    background: #fff;
    color: #ff6a00;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
}

.navbar .login-btn:hover {
    background: #ff6a00;
    color: #fff;
}

.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    max-width: 420px;
    background: #11005353;
    border: 2px solid #80808053;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

.show-popup .form-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s, opacity 0.1s;
}

.form-popup .close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    color: #ffffff;
    cursor: pointer;
}

.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.1s;
}

.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}

.form-box .form-content {
    width: 100%;
    padding: 35px;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 29px;
    color: #ffffff;
}

form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.input-field input {
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    font-size: 15px;
    padding: 0 15px;
    border: 1px solid #d4d4d4d3;
    border-radius: 3px;
    color: #ffffff;
}

.input-field input:focus {
    border: 1px solid #ececec;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #eaeaea;
    pointer-events: none;
    transition: 0.2s;
}

.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}

.input-field input:is(:focus, :valid)~label {
    transform: translateY(-120%);
    color: #ececec;
    font-size: 12px;
}

.form-box a {
    color: #ffffff;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

form :where(.forgot-pass-link, .policy-text) {
    display: inline-flex;
    margin-top: 13px;
    font-size: 15px;
}

form button {
    width: 100%;
    color: #ff6a00;
    border: none;
    outline: none;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    margin: 25px 0;
    background: #ffffff;
    transition: 0.5s;
}

form button:hover {
    background: #ff6a00;
    color: #ffffff;
}

.form-content .bottom-link span {
    text-align: center;
    color: #ffffff;
}

.form-popup .signup,
.form-popup.show-signup .login {
    display: none;
}

.form-popup.show-signup .signup {
    display: flex;
}

.signup .policy-text {
    display: flex;
    margin-top: 14px;
    align-items: center;
}

.signup .policy-text input {
    width: 14px;
    height: 14px;
    margin-right: 7px;
}
.signup .policy-text label{
    color: #fff;
}

@media (max-width: 950px) {
    .navbar :is(.hamburger-btn, .close-btn) {
        display: block;
    }

    .navbar {
        padding: 15px 20px;
    }

    .navbar .logo h2 {
        font-size: 32px;
    }

    .navbar .links {
        position: fixed;
        top: 0;
        z-index: 10;
        left: -100%;
        display: block;
        height: 100vh;
        width: 100%;
        padding-top: 60px;
        text-align: center;
        background: #fff;
        transition: 0.2s;
    }

    .navbar .links.show-menu {
        left: 0;
    }

    .navbar .links a {
        display: inline-flex;
        margin: 20px 0;
        font-size: 1.2rem;
        color: #363636;
    }

    .navbar .links a:hover {
        color: #ff6a00;
    }

    .navbar .login-btn {
        font-size: 16px;
        padding: 10px 20px;
    }
}

@media (max-width: 760px) {
    .form-popup {
        width: 80%;
    }

    .form-box .form-content {
        padding: 30px 20px;
    }
}

.image {
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-50%);
    bottom: 0%;
    transition: left 2s ease;

}

.image:hover .wensi{
    left: 55%;
}